[submodule "utils/termcolor"]
	path = utils/termcolor
	url = https://github.com/ikalnytskyi/termcolor
[submodule "utils/googletest"]
	path = utils/googletest
	url = https://github.com/google/googletest
